<%- include('../port/layout-start', { title: title}) %>
<%- include('../elems/menu') %>

<h1><%= title %></h1>
<%- include('../elems/form', {book: book, action: action}) %>

<%- include('../port/layout-end') %>
